@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import "reset.css";
@import "root.css";

/* imponents */
@import "components/status_bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* screen*/
@import "screen/welcome.css";
@import "screen/friends.css";

body {
  color: var(--meta-gray);
  font-family: "Ubuntu Mono", monospace;
  height: 130vh;
}

.main-screen {
  padding: 0px var(--meta-margin);
}
